@import "../../assets/styles/colors.scss";

.container {
  padding: 70px 0px;
  margin-top: 123px;
  font-family: "Dosis", sans-serif;
}

.content {
  width: 1250px;
  margin: auto;
}

.product {
  display: flex;
  font-family: "Dosis", sans-serif;

  .photo {
    flex: 0 0 41%;
    margin: 0 15px;
    max-width: 415px;
    overflow: hidden;

    img {
      width: 400px;
    }
  }

  .info {
    flex: 0 0 58%;
    margin: 0 15px;

    h2,
    h4,
    h5 {
      letter-spacing: 0;
      padding: 0 0 10px 0;
      line-height: 120% !important;
      margin: 0;
    }

    h2 {
      color: #000000;
      font-weight: 700;
      font-size: 24px;
    }

    h5 {
      color: $text-secondary-lb;
      font-weight: 700;
      font-size: 18px;

      del {
        font-size: 13px;
        color: #666;
      }
    }

    .stock,
    .description {
      font-size: 16px;
      margin: 0px;
      margin-bottom: 20px;
      color: #666666;
      font-size: 15px;
      line-height: 1.80857;
    }

    .quantity {
      display: flex;
      flex-direction: column;
      padding: 15px 20px;
      color: #666666;
      font-size: 15px;
      border: 1px #000000 dashed;
      margin-bottom: 30px;

      label {
        margin-bottom: 8px;
      }

      input {
        width: 280px;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        text-align: center;
        line-height: 1.5;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        &[type="number"] {
          -moz-appearance: textfield;
        }
      }
    }

    .actions button {
      padding: 10px 20px;
      font-weight: 700;
      background-color: $text-secondary-lb;
      color: #ffffff;
      border: none;
      margin-right: 10px;

      &:hover {
        cursor: pointer;
        background-color: $text-secondary-db;
      }
    }
  }
}

.reviews {
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;

  .header {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    h2 {
      padding: 0 0 10px 0;
      font-weight: normal;
      line-height: 120%;
      margin: 0;
      font-size: 22px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    }
  }

  .body {
    padding: 1.25rem;
    padding-bottom: 0;

    .review {
      margin-bottom: 1rem;

      .content {
        display: flex;

        .avatar {
          margin-right: 0.5rem;

          img {
            padding: 0.25rem;
            border: 1px solid #dee2e6;
            border-radius: 50%;
            width: 70px;
          }
        }

        .text {
          width: 92%;
          margin-bottom: 20px;

          p {
            margin: 0;
            width: 100%;
            margin-bottom: 6px;
            color: #666666;
            font-size: 15px;
            font-family: "Dosis", sans-serif;
            line-height: 1.80857;
          }

          small {
            color: #6c757d;
          }
        }
      }

      .divider {
        display: block;
        width: 100%;
        height: 1px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }

  .footer {
    padding: 0 20px 20px;

    .reviewForm {
      .inputGroup {
        display: flex;
        flex-direction: column;

        label {
          font-size: 15px;
          margin-bottom: 0px;
          line-height: 24px;
        }

        textarea {
          min-height: 40px;
          border-radius: 0px;
          border: 1px solid #e8e8e8;
          box-shadow: none;
          font-size: 14px;

          &:focus {
            border: 1px solid $text-secondary-lb;
          }
        }
      }

      .buttons {
        margin-top: 20px;
      }
    }

    button {
      padding: 10px 20px;
      font-weight: 700;
      background-color: $text-secondary-lb;
      color: #ffffff;
      border: none;
      margin-right: 10px;

      &:hover {
        cursor: pointer;
        background-color: $text-secondary-db;
      }
    }
  }
}
