@import "../../assets/styles/colors.scss";

.container {
  padding: 70px 0px;
  margin-top: 123px;
  font-family: "Dosis", sans-serif;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 1250px;
  margin: auto;
}

.cart {
  width: 100%;
  margin: 0 15px;

  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
  }

  thead {
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.125);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";

    th {
      font-size: 15px;
    }
  }

  .body {
    color: #666666;
    font-size: 15px;
    font-family: "Dosis", sans-serif;
    line-height: 1.80857;
  }

  td,
  th {
    text-align: left;
    padding: 0.75rem;
  }

  td {
    border-bottom: 1px solid #dee2e6;
  }

  a {
    text-decoration: none;
    outline: none;
  }
  p {
    margin: 0;
  }

  .photo {
    width: 120px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .name a {
    font-weight: 700;
    font-size: 14px;
    color: #000000;
  }

  .quantity input {
    border: 2px solid #000000;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type="number"] {
      -moz-appearance: textfield;
    }
  }
  .remove {
    text-align: center;

    svg {
      width: 14px;
      fill: $text-secondary-lb;

      &:hover {
        cursor: pointer;
        fill: $text-secondary-db;
      }
    }
  }
}

.buttons {
  width: 100%;
  margin: 30px 0;
  padding: 0 15px;
  display: flex;

  .coupon,
  .updateCart {
    flex: 0 0 50%;
  }

  .coupon {
    display: flex;
    width: 100%;

    input {
      flex: 1 1 auto;
      min-height: 50px;
      border-radius: 0px;
      font-weight: 400;
      border: 1px solid #e8e8e8;
      padding: 0 0.5rem;
      font-size: 0.875rem;
    }

    .apply {
      justify-content: end;
    }
  }

  .updateCart {
    text-align: right;
  }

  .apply button,
  .updateCart button {
    height: 50px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
    background: #000000;
    color: #ffffff;
    border: none;
    border-radius: 0px;
    font-size: 14px;
    padding: 0px 20px;

    &:hover {
      cursor: pointer;
      background-color: $text-secondary-lb;
    }
  }
}

.summaryTitle {
  margin: 0 15px 7px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.summary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;

  h3 {
    font-size: 16px;
    color: #222222;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
  }

  .formGroup {
    width: 100%;
    margin-bottom: 20px;

    .inputGroup {
      display: flex;
      flex-direction: column;

      label {
        font-size: 15px;
        margin-bottom: 0px;
        line-height: 24px;
      }

      input {
        min-height: 40px;
        border-radius: 0px;
        border: 1px solid #e8e8e8;
        box-shadow: none;
        font-size: 14px;

        &:focus {
          border: 1px solid $text-secondary-lb;
        }
      }
    }
  }
}

input {
  padding: 0 5px;
}

.summaryLeft {
  flex: 0 0 60%;
  margin: 0 15px 10px;

  .address {
    .names {
      display: flex;

      .inputGroup {
        width: 48%;

        &:first-child {
          margin-right: 15px;
        }
        &:last-child {
          margin-left: 15px;
        }
      }
    }
  }

  .payment {
    .creditCardName,
    .creditCardNumber,
    .expiration,
    .CCV {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        font-size: 15px;
        margin-bottom: 0px;
        line-height: 24px;
      }

      input {
        min-height: 40px;
        border-radius: 0px;
        border: 1px solid #e8e8e8;
        box-shadow: none;
        font-size: 14px;

        &:focus {
          border: 1px solid $text-secondary-lb;
        }
      }
    }

    .card,
    .infoCard {
      width: 100%;
      display: flex;
    }
    .creditCardName,
    .creditCardNumber {
      width: 48%;
    }

    .creditCardName {
      margin-right: 15px;
    }
    .creditCardNumber {
      margin-left: 15px;
    }

    .expiration,
    .CCV,
    .icons {
      width: 30%;
    }

    .expiration {
      margin-right: 15px;
    }
    .CCV {
      margin-left: 15px;
    }
    .icons {
      margin-left: 15px;

      img {
        width: 45px;
        margin-top: 30px;
      }
    }
  }
}

.summaryRight {
  width: 400px;
  float: right;
  margin: 0 15px;

  .submit {
    width: 100%;
    text-align: right;

    button {
      height: 50px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
      background: $text-secondary-lb;
      font-weight: 700;
      color: #ffffff;
      border: none;
      border-radius: 0px;
      font-size: 14px;
      padding: 0px 20px;

      &:hover {
        cursor: pointer;
        background-color: $text-secondary-db;
      }
    }
  }
}
